<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="UbicacionArchivo" value="C:\Users\c7ss74\Downloads\Contratos_v2\Contratos\ContratosLinde\Archivos\" />
		<add key="UrlArchivo" value="https://localhost:44334/Archivos/" />
		<add key="De" value="nestor.rodriguez@linde.com" />
		
		<add key="Intervalo" value="86400"/>
		
	</appSettings>
	
	<connectionStrings>
		<add name="Prax" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=RACCOOX.SA.PRAXAIR.COM)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=COOX)));User Id=FECO_USR;Password=Praxair.2018;Min Pool Size=0;Max Pool Size=15;Connection Lifetime=120;Connection Timeout=60; " />
		<!--<add name="Prax" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=RACCOOX.SA.PRAXAIR.COM)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=COOX)));User Id=NERODRI;Password=NERODRI;Min Pool Size=0;Max Pool Size=15;Connection Lifetime=120;Connection Timeout=60; " />-->
	</connectionStrings>
</configuration>