<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <label>Fecha Inicial</label>
        <input type="date" id="TxtFechaInicialAlerta" />
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <label>Fecha Final</label>
        <input type="date" id="TxtFechaFinalAlerta" />
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <button id="BtnBuscarAlertasGeneral">Buscar Alertas</button>
    </div>
</div>
<hr />
@*<div class="row">
    <table id="TabAlertas" class="dataTable" style="width:95%">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="ChkTodasAlertas" />
                </th>
                <th>
                    Fecha de envio
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Mensaje
                </th>
                <th>
                    Descargar
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" id="ChkTodasAlertasX" />
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>

    </table>
</div>*@

