<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <label>Fecha Inicial Aprobación</label>
        <input type="date" id="TxtFechaInicialAprovacion" />
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <label>Fecha Final Aprobación</label>
        <input type="date" id="TxtFechaFinalAprobacion" />
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <button id="BuscarAutorizaciones">Buscar Aprobaciones</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table id="TabAprobaciones" class="dataTable" style="width:99%; font-size:smaller">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Contrato
                    </th>
                    <th>
                        Etapa
                    </th>
                    <th>
                        Fecha registro
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Mensaje
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <button id="BtnAccion">Ok</button>&ensp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


